<div class="position-fixed end-0 p-3" style="z-index: 11; top: 50px">
    <div class="toast toast-success hide fade mx-auto"
         id="liveToast" 
        role="alert" 
        aria-live="assertive" 
        aria-atomic="true"
        data-mdb-delay="2000"
        data-mdb-autohide="true"
        data-mdb-color="info"
    >
        <div class="toast-header toast-success">
            <strong class="me-auto">Sake Figure</strong>
            <button id="close-btn" type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-content"></div>
    </div>
</div>
