@{
    ViewData["Title"] = "Trang chủ";
}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Sake Figure Shop</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Sake Figure Shop chính thức mở bán với đa dạng các mẫu figure khác nhau đang có sẵn tại shop.<br />
            Quý khách hàng quan tâm các mẫu mô hình khác hiện chưa có sẵn tại shop vui lòng liên hệ cho Sake để được tư vấn thêm về các sản phẩm mô hình chính hàng Nhật bản.<br />
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a asp-area="" asp-controller="Home" asp-action="ShopAll" class="btn btn-primary btn-lg px-4 me-sm-3">Xem tất cả sản phẩm</a>
        </div>
    </div>
    <div class="overflow-hidden">
        <div class="container px-md-5">
            <img src="/images/heros_img.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Sake Figure Shop" loading="lazy">
        </div>
    </div>
</div>
