@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email.";
}

<h1>@ViewData["Title"]</h1>
<h2>Vui lòng đăng nhập lại <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Tại đây</a> </h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />
