@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hãy kiểm tra email của bạn để xác nhận tài khoản.
</p>
<a asp-page="./ResendEmailConfirmation">Gửi lại xác nhận</a>
